<!-- Modal Structure -->
<div id="viewMoreModal" class="modal" style="display:none;">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Resident Profile</h2>
        <div id="modalContent">
            <div class="profile-picture">
                <img src="" alt="Profile Picture" id="profilePic" style="max-width: 150px; height: auto;"/>
            </div>
            <div class="profile-details">
                <p><strong>Name:</strong> <span id="fullName"></span></p>
                <p><strong>Zone:</strong> <span id="zone"></span></p>
                <p><strong>Civil Status:</strong> <span id="civilStatus"></span></p>
                <p><strong>Occupation:</strong> <span id="occupation"></span></p>
                <p><strong>Birthdate:</strong> <span id="birthdate"></span></p>
                <p><strong>Phone Number:</strong> <span id="phoneNumber"></span></p>
                <p><strong>ID Image:</strong> <img id="id_image" style="max-width: 100px; max-height: 100px;"/></p>
                <p><strong>Position:</strong> <span id="position"></span></p>
                <p><strong>Status:</strong> <span id="status"></span></p>
            </div>
        </div>
    </div>
</div>
