{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static './css/bhwHealthRecords.css' %}">
<link rel="stylesheet" href="{% static './css/verificationBtn.css' %}">
<script type="module" src="{% static 'js/bhwHealthRecords.js' %}"></script>
{% endblock %}

{% block content %}  
<div class="adminContainer">
    {% include 'admin/adminTopnav.html' %}

    <div class="Left">
        <button id="all-btn">All</button> 
        <button id="other-btn">Other</button> 
        <button id="tb-btn">TB</button>
        <button id="immunize-btn">Immunize</button>
    </div>
    
    <div class="MC-Bottom"> 
        {% include './adminNav2.html' %}  
        <div class="contents">
            <section id="content">
               
               <!-- All Services Area -->
               <div id="AllService-Area">
                    <table>
                        <thead>
                            <tr> 
                                <th>Full Name</th>
                                <th>Service</th>
                                <th>Purok</th>
                                <th>Phone Number</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for schedule in all_schedules %}
                            <tr>
                                <td>{{ schedule.user.first_name }} {{ schedule.user.last_name }}</td>
                                <td>{{ schedule.bhwService.service_name }}</td>
                                <td>{{ schedule.resident.zone }}</td>
                                <td>{{ schedule.resident.phone_number }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                 </div>

               <!-- Other Area -->
                <div id="Other-Area" style="display: none;">
                    <table>
                        <thead>
                            <tr>
                                <th>Full Name</th>
                                <th>Service</th>
                                <th>Service Type</th>
                                <th>Purok</th>
                                <th>Phone Number</th>
                                <th>Date</th>
                                <th>Time</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for schedule in other_schedules %}
                            <tr>
                                <td>{{ schedule.user.first_name }} {{ schedule.user.last_name }}</td>
                                <td>{{ schedule.bhwService.service_name }}</td>
                                <td>{{ schedule.bhwService.service_type }}</td>
                                <td>{{ schedule.resident.zone }}</td>
                                <td>{{ schedule.resident.phone_number }}</td>
                                <td>{{ schedule.date }}</td>
                                <td>{{ schedule.time }}</td>
                                <td>
                                    {% if schedule.status == "Pending" %}
                                        <span class="status-pending">Pending</span>
                                    {% elif schedule.status == "Verify" %}
                                        <span class="status-verified">Verify</span>
                                    {% elif schedule.status == "Decline" %}
                                        <span class="status-declined">Decline</span>
                                    {% endif %}
                                </td>
                                <td>
                                    <a href="{% url 'approve_schedule' schedule.id %}" class="btn-approve">Approve</a>
                                    <a href="{% url 'reject_schedule' schedule.id %}" class="btn-declined">Decline</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

                 <!-- TB Area -->
                 <div id="TB-Area">
                    <table>
                        <thead>
                            <tr> 
                                <th>Full Name</th>
                                <th>Service</th>
                                <th>Service Type</th>
                                <th>Purok</th>
                                <th>Phone Number</th>
                                <th>Date</th>
                                <th>Time</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for schedule in tb_schedules %}
                            <tr>
                                <td>{{ schedule.user.first_name }} {{ schedule.user.last_name }}</td>
                                <td>{{ schedule.bhwService.service_name }}</td>
                                <td>{{ schedule.bhwService.service_type }}</td>
                                <td>{{ schedule.resident.zone }}</td>
                                <td>{{ schedule.resident.phone_number }}</td>
                                <td>{{ schedule.date }}</td>
                                <td>{{ schedule.time }}</td>
                                <td>
                                    {% if schedule.status == "Pending" %}
                                        <span class="status-pending">Pending</span>
                                    {% elif schedule.status == "Verify" %}
                                        <span class="status-verified">Verify</span>
                                    {% elif schedule.status == "Decline" %}
                                        <span class="status-declined">Decline</span>
                                    {% endif %}
                                </td>
                                <td>
                                    <a href="{% url 'approve_schedule' schedule.id %}" class="btn-approve">Approve</a>
                                    <a href="{% url 'reject_schedule' schedule.id %}" class="btn-declined">Decline</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                
                 
                 <!-- Immunize Area -->
                 <div id="Immunize-Area">
                    <table>
                        <thead>
                            <tr> 
                                <th>Baby Name</th>
                                <th>Father Name</th>
                                <th>Mother Name</th>
                                <th>Birth Place</th>
                                <th>Date of Birth</th>
                                <th>Sex</th>
                                <th>Purok</th>
                                <th>View More</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for schedule in immunize_schedules %}
                            <tr>
                                <td>{{ schedule.baby_name }}</td>
                                <td>{{ schedule.father_name }}</td>
                                <td>{{ schedule.mother_name }}</td>
                                <td>{{ schedule.birth_place }}</td>
                                <td>{{ schedule.birthdate }}</td>
                                <td>{{ schedule.sex}}</td>
                                <td>{{ schedule.resident.zone }}</td>
                                <td>
                                    <a href="{% url 'Vaccine' schedule.id %}" class="view-more-link">View More</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                 </div>

            </section>  
        </div>
    </div>
</div>
{% endblock %}
