{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static './css/admin.css' %}">
    <link rel="stylesheet" href="{% static './css/residentSchedule.css' %}">
    <script type="module" src="{% static 'js/adminEvents.js' %}"></script>
    <link href="https://cdn.jsdelivr.net/npm/@fullcalendar/common@6.1.15/main.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@6.1.15/main.min.css" rel="stylesheet" />
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js'></script>
{% endblock %}


{% block content %}

    <div class="adminContainer">
        <div class="ac-top">
            <div class="ac-Left">
                <img src="../../static/images/lala-logo.jpg" alt="">
                <h3>Barangay Management System</h3>
            </div>

            <div class="ac-middle">

                {% include 'modal/adminAddEvent.html' %}
                {% include 'modal/adminEditEvent.html' %}
   
             <div id="Schedule-Content">
                 <div class="SC-Top">
                   <div class="SCT-Left">
                    <select id="monthSelect">
                         <option value="0">January</option>
                         <option value="1">February</option>
                         <option value="2">March</option>
                         <option value="3">April</option>
                         <option value="4">May</option>
                         <option value="5">June</option>
                         <option value="6">July</option>
                         <option value="7">August</option>
                         <option value="8">September</option>
                         <option value="9">October</option>
                         <option value="10">November</option>
                         <option value="11">December</option>
                     </select>
     
                     <select id="yearSelect"></select>
                       <div class="SC-CalendarView">
                         <button id="dayView">D</button>
                         <button id="weekView">W</button>
                         <button id="monthView">M</button> 
                       </div> 
                   </div>
                     <div class="SCT-Right">
                       <button id="prevSchedule"><</button>
                        <button id="nextSchedule">></button>
                     </div>
                 </div>
                 <div id='calendar'></div>
             </div>
            
            </div>

            <div class="ac-right">
                <input type="" name="" id="HomeSearch" placeholder="Search"> 
                <div class="NotifAdmin">
                  <img src="../../static/images/Bell-Notification--Streamline-Flex.png" alt="">
                </div>
            </div>
        </div>

        
        <div class="MC-Bottom">
        {% include './adminNav.html' %}      
        </div>

    </div>

    
      

{% endblock %}

