{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/adminServiceList.css' %}">
    <link rel="stylesheet" href="{% static 'css/admin.css' %}">
{% endblock %}


{% block content %}

 
    <div class="content-container">
   

        <div class="main-contents">
            <h1>Update Service</h1>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div>
                    <label for="service_name">Service Name:</label>
                    <input type="text" id="service_name" name="service_name" value="{{ service.service_name }}" required>
                </div>
                <div>
                    <label for="requirements">Requirements:</label>
                    <input type="text" id="requirements" name="requirements" value="{{ service.requirements }}" required>
                </div>
                <div>
                    <label for="service_description">Description:</label>
                    <textarea id="service_description" name="service_description" required>{{ service.service_description }}</textarea>
                </div>
                <div>
                    <label for="service_price">Price:</label>
                    <input type="number" id="service_price" name="service_price" value="{{ service.service_price }}" required>
                </div>
                <div>
                    <label for="image">Service Image:</label>
                    <input type="file" id="image" name="image">
                    {% if service.image %}
                        <p>Current Image:</p>
                        <img src="{{ service.image.url }}" alt="{{ service.service_name }}" width="200">
                    {% endif %}
                </div>
                    <button type="submit">Update Service</button>
                <a class="cancel"  href="{% url 'service_list' %}">Cancel</a>
            </form>
            
        </div>

{% endblock %}