{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/hslandingpage.css' %}">
{% endblock %}
<body>
    {% include "nav.html" %}
    
    {% block content %}

    <div class="contents">
        {% for x in adminService %}
            <div class="p-box">
                <div class="prod-card"> 
                    <p>
                        {% if x.image %}
                            <img src="{{ x.image.url }}" width="100" alt="{{ x.service_name }}"/>
                        {% else %}
                            <img src="{% static 'images/default_image.jpg' %}" width="120" alt="No image available"/>
                        {% endif %}
                    </p>
                    <h3>{{ x.service_name }}</h3>
                    <p>Price: {{ x.service_price}}</p>
                    <p>Description: {{ x.service_description }}</p>
                    <p>Requirements: {{ x.requirements }}</p>
                    <p>Service Type: {{ x.service_type }}</p>  
                    <a href="{% url 'login' %}" class="btn">Avail Now</a>
                </div> 
            </div>  
        {% empty %}
            <p>No services available at the moment.</p>
        {% endfor %}
    </div>
    

    {% endblock %}

















</body>
</html>


