{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/residentHS.css' %}">
  <link rel="stylesheet" href="{% static 'css/profile.css' %}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
{% endblock %}

<body>
  {% block content %}

  <div class="adminContainer">
    {% include 'resident/residentTopnav.html' %}
    <div class="MC-Bottom">
      {% include 'resident/residentNav1.html' %}
    </div>
  </div>

  {% include 'modal/CompleteProfile.html' %}

  {% if show_modal %}
    <div class="modal fade" id="profileModal" tabindex="-1" role="dialog" aria-labelledby="profileModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="profileModalLabel">Complete Your Profile</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          
        </div>
      </div>
    </div>
  {% endif %}

  {% endblock %}

  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      const modalElement = document.getElementById("profileModal");
      if (modalElement) {
        $('#profileModal').modal('show');
      }
    });

    function previewImage(event) {
      const imagePreview = document.getElementById('imagePreview');
      const file = event.target.files[0];
      if (file) {
        const reader = new FileReader();
        reader.onload = function(e) {
          imagePreview.src = e.target.result;
          imagePreview.style.display = 'block';
        };
        reader.readAsDataURL(file);
      }
    }

        window.addEventListener("beforeunload", function () {
            navigator.sendBeacon("/accounts/logout/");
        });
    

  </script>
</body>
