{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static './css/admin.css' %}">
<link rel="stylesheet" href="{% static './css/adminPayment.css' %}">

{% endblock %}


{% block content %}

    <div class="adminContainer">
       {% include 'secretary/secNavbar.html' %}
        <div class="MC-Bottom">
   

   
      <section id="content">
        <table>
            <thead>
                <tr>  
                    <th>First Name</th>  
                    <th>Last Name</th>   
                    <th>Date</th>
                    <th>Sender Name</th>
                    <th>Reference Number</th> 
                    <th>Proof</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>    
            <tbody>
                {% for payment in payments %}  
                <tr>    
                    <td>{{ payment.user.first_name  }}</td>  
                    <td>{{ payment.user.last_name }}</td>   
                    <td>{{ payment.date_paid }}</td>  
                    <td>{{ payment.sender_name }}</td>  
                    <td>{{ payment.reference_number }}</td>   
                    <td>
                        {% if payment.proof %} 
                            <img src="{{ payment.proof.url }}" alt="Proof" style="max-width: 100px;">  
                        {% else %}
                            No Proof Available
                        {% endif %}
                    </td>
                    <td>{{ payment.status }}</td>
                    <td>
                        <a href="{% url 'approve_payment' payment.id %}" class="approve-btn">Approve</a>
                        <a href="{% url 'decline_payment' payment.id %}" class="decline-btn">Decline</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
    
        </div>
    </div>
{% endblock %}