{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static './css/secCertificates.css' %}">
{% endblock %}

{% block content %}

    {% include 'secretary/secNavbar.html' %}

<div class="request-details-container">
  <h2>Request Details</h2>
  <div class="request-detail">
    <p><strong>Username:</strong> {{ request.user.username }}</p>
    <p><strong>Full Name:</strong> {{ request.user.first_name }} {{ request.user.last_name }}</p>
    <p><strong>Service:</strong> {{ request.service_id.service_name }}</p>
    <p><strong>Reason:</strong> {{ request.reason }}</p>
    <p><strong>Schedule:</strong> {{ request.schedule_date }} at {{ request.schedule_start_time }}</p>
    <p><strong>Status:</strong> {{ request.status }}</p>
    <p><strong>Request Requirements:</strong> 
      <a href="{{ request.request_requirements.url }}" class="download-link">Download</a>
    </p>
  </div>

  <!-- Image display section -->
  {% if request.image %}
  <div class="request-image-container">
    <img src="{{ request.image.url }}" alt="Request Image" class="request-image">
    <a href="{{ request.image.url }}" download class="download-image-btn">Download Image</a>
  </div>
  {% endif %}

  <!-- Return button -->
  <a href="{% url 'secretary_Certificates' %}" class="return-btn">Return</a>
</div>
{% endblock %}
