{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static './css/residentVerification.css' %}">
{% endblock %}

{% block content %}

<div class="adminContainer">
    {% include 'secretary/secNavbar.html' %}
    
    <div class="header">
        <h1>Verify Resident Accounts</h1>
    </div>

    <div class="content">
        <table>
            <thead>
                <tr>
                    <th>Profile</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Name</th>
                    <th>Phone</th>
                    <th>Purok</th>
                    <th>Civil Status</th>
                    <th>Occupation</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for resident in residents %}
                <tr>
                    <td>
                        {% if resident.picture %}
                        <img src="{{ resident.picture.url }}" alt="Profile Picture" style="max-width: 50px; border-radius: 50%;">
                        {% else %}
                        <span>No Image</span>
                        {% endif %}
                    </td>
                    <td>{{ resident.auth_user.username }}</td>
                    <td>{{ resident.auth_user.email }}</td>
                    <td>{{ resident.auth_user.first_name }} {{ resident.auth_user.last_name }}</td>
                    <td>{{ resident.phone_number }}</td>
                    <td>{{ resident.zone }}</td>
                    <td>{{ resident.civil_status }}</td>
                    <td>{{ resident.occupation }}</td>
                    <td>
                        {% if resident.status == "Pending" %}
                        <span class="status-pending">Pending</span>
                        {% elif resident.status == "Verified" %}
                        <span class="status-verified">Verified</span>
                        {% elif resident.status == "Declined" %}
                        <span class="status-declined">Declined</span>
                        {% endif %}
                    </td>
                    <td>
                        <a href="{% url 'approve_resident' resident.id %}" class="btn-approve">Verify</a>
                        <a href="{% url 'decline_resident' resident.id %}" class="btn-decline">Decline</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
