{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static './css/bhw.css' %}">
<link rel="stylesheet" href="{% static './css/verificationBtn.css' %}">
{% endblock %}

{% block content %}
{% include 'bhw/bhwTopnav.html' %}

    <div class="MC-Bottom">
        {% include 'bhw/bhwNav.html' %}
        <div class="contents">
            <section id="content">
                <table>
                    <thead>
                        <tr>
                            <th>Baby Name</th>
                            <th>Sex</th>
                            <th>Father Name</th>
                            <th>Mother Name</th>
                            <th>Birth Place</th>
                            <th>Sex</th>
                            <th>Purok</th>
                            <th>vaccine</th>
                            <th>View More</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for schedule in schedules %}
                        <tr>
                            <td>{{ schedule.baby_name }}</td>
                            <td>{{ schedule.sex }}</td>
                            <td>{{ schedule.father_name }}</td>
                            <td>{{ schedule.mother_name }}</td>
                            <td>{{ schedule.birth_place }}</td>
                            <td>{{ schedule.sex}}</td>
                            <td>{{ schedule.resident.zone }}</td>

                            <td>
                                <a href="" class="view-more-link">vaccine</a>
                            </td>

                            <td>
                                <a href="{% url 'Vaccine' schedule.id %}" class="view-more-link">View More</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </section>
        </div>
    </div>

    
    
{% endblock %}
