
<nav> 
    <div class="nav-content">
      <ul>
        <a href="{% url 'bhwDashboard'   %}">
          <li class="{% if request.path == '/bhwDashboard/' %}active{% endif %}">
            <div class="NavContainer">
              <img src="../../static/images/dash2.png" alt="">
            </div>
            <p>Home</p>
          </li>
        </a>  

        <a href="{% url 'bhwOutbreak' %}">
          <li class="{% if request.path == '/bhwOutbreak/' %}active{% endif %}">
            <div class="NavContainer">
              <img src="../../static/images/health.png" alt="">
            </div>
            <p>Outbreaks</p>
          </li>
        </a>

        <a href="{% url 'logout' %}">
          <li>
            <div class="NavContainer">
              <img src="../../static/images/signout.png" alt="">
            </div>
            <p>Logout</p>
          </li>
        </a>
      </ul>
    </div>
</nav>
