
<nav> 
    <div class="nav-content">
      <ul>
        <a href="{% url 'bhwDashboard'   %}">
          <li class="{% if request.path == '/bhwDashboard/' %}active{% endif %}">
            <div class="NavContainer">
              <img src="../../static/images/dash2.png" alt="">
            </div>
            <p>Home</p>
          </li>
        </a>  

        <a href="{% url 'bhwList' %}">
          <li class="{% if request.path == '/bhwList/' %}active{% endif %}">
            <div class="NavContainer">
              <img src="../../static/images/hworker.png" alt="">
            </div>
            <p>Health Worker</p> 
          </li> 
        </a>

        <a href="{% url 'bhwService'   %}">
          <li class="{% if request.path == '/bhwService/' %}active{% endif %}">
            <div class="NavContainer">
              <img src="../../static/images/hservice.png" alt="">
            </div>
            <p>Health Services</p>    
          </li>
        </a>
  
        <a href="{% url 'bhwOutbreak' %}">
          <li class="{% if request.path == '/bhwOutbreak/' %}active{% endif %}">
            <div class="NavContainer">
              <img src="../../static/images/health.png" alt="">
            </div>
            <p>Outbreaks</p>
          </li>
        </a>

        <a href="{% url 'bhwRecord'   %}">
          <li class="{% if request.path == '/bhwRecord/' %}active{% endif %}">
            <div class="NavContainer">
              <img src="../../static/images/medic.png" alt="">
            </div>
            <p>Record Verification</p>
          </li>
        </a>

        <a href="{% url 'bhwReport'   %}">
          <li class="{% if request.path == '/bhwReport/' %}active{% endif %}">
            <div class="NavContainer">
              <img src="../../static/images/medic.png" alt="">
            </div>
            <p>Immunize Report</p>
          </li>
        </a>

        <a href="{% url 'bhwMaintenance' %}">
          <li class="{% if request.path == '/bhwMaintenance/' %}active{% endif %}">
            <div class="NavContainer">
              <img src="../../static/images/mdec.png" alt="">
            </div>
            <p>Maintenance</p>
          </li>
        </a>

        <a href="{% url 'addBhw' %}">
          <li class="{% if request.path == 'healthADmin/addBhw' %}active{% endif %}">
            <div class="NavContainer">
              <img src="../../static/images/hworker.png" alt="">
            </div>
            <p>Add BHW</p>
          </li>
        </a>

        <a href="{% url 'logout' %}">
          <li>
            <div class="NavContainer">
              <img src="../../static/images/signout.png" alt="">
            </div>
            <p>Logout</p>
          </li>
        </a>
      </ul>
    </div>
</nav>
