{% load static %}
{% block css %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bhwnav2.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
{% endblock %}

<body>
    <div class="sidebar">
        <div class="logo-details">
            <i class='bx bxs-castle'></i>
            <span class="logo_name">Barangay Lala</span>
        </div>
        
        <ul class="nav-links">
            <li>
                <a href="{% url 'bhwDashboard' %}">
                    <i class='bx bx-grid-alt' ></i>
                    <span class="link_name">Dashboard</span>
                </a>
            </li>

            <li>
    
                <div class="icon-links">
                    <a href="{% url 'bhwList' %}">
                        <i class='bx bx-user-circle' ></i>
                        <span class="link_name">Accounts</span>
                    </a>
                        
                </div>                
            </li>

            
            <li>
                <a href="{% url 'bhwService' %}">
                    <i class='bx bx-history'></i>
                    <span class="link_name">Health Services</span>
                </a>
            </li>


            <li>
                <a href="{% url 'bhwRecord' %}">
                    <i class='bx bx-shield-plus' ></i>
                    <span class="link_name">Record Verification</span>
                </a>
            </li>

           
            <li>
                <a href="{% url 'bhwReport' %}">
                    <i class='bx bx-bookmark-plus'></i>
                    <span class="link_name">Immunize Report</span>
                </a>
            </li>

            <li>
                <a href="{% url 'bhwMaintenance' %}">
                    <i class='bx bx-capsule' ></i>
                    <span class="link_name">Maintenance</span>
                </a>
            </li>
          

            <li>
                <a href="{% url 'bhwlogout' %}">
                    <i class='bx bx-log-out' ></i>
                    <span class="link_name">Logout</span>
                </a>

            </li>

  

        </ul>
    </div>


    <script>

        let arrow = document.querySelectorAll(".arrow");
        for (var i = 0; i < arrow.length; i++) {
            arrow[i].addEventListener("click", (e)=>{
        let arrowParent = e.target.parentElement.parentElement;
            console.log(arrowParent);
            arrowParent.classList.toggle("showMenu");
            });
        }

        let sidebar = document.querySelector(".sidebar");
        let sidebarBtn = document.querySelector(".bx-menu");

        sidebarBtn.addEventListener("click", () => {
            sidebar.classList.toggle("close");
        });


        
    
    </script>
    
</body>
</html>

